body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #c0ffc0;
}

.kikkudayo{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kikkudayo img {
    width: 30%;
    height: auto;

}