body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #ffd1eb;
}

.kikkudayo{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
